<style>
   

</style>
<p id="notice"><%= notice %></p>

<p id="title_notice">
  <%= @notice.titile %>
</p>
<br>
<p id="title_des">
  <strong>Description:</strong><br>
  <%= @notice.description %>
</p>
<p id="title_name">
  <strong>Name:</strong>
  <%= @notice.user.name %>
</p>
<%= button_to "Edit", edit_notice_path(@notice), :method => "get" %>
<br>
<%= button_to "Back", notices_path, :method => "get" %>