
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <h1>Smartphone Development Course Notice Board</h1>   <br>
    <h1>Sign Up</h1>

    <div>
      <%= f.text_field :name, autofocus: true, class: "login-input", placeholder: "Name", required: true %></div>

    <div>
      <%= f.text_field :ulab_id, class: "login-input", placeholder: "Ulab ID", required: true %></div>

    <div>
      <%= f.email_field :email, class: "login-input", placeholder: "Email", required: true %></div>

    <div>
      <%= f.password_field :password, autocomplete: "off", class: "login-input", placeholder: "Password (minimum 8 character!)", required: true %></div>

    <div>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "login-input", placeholder: "Confirm Password", required: true %></div>

    <div><%= f.submit "Sign up", class:"login-submit" %></div>

    <p class="login-help"><a href="/users/sign_in">Login</a></p>
<% end %>
