



<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h1>Smartphone Development Course Notice Board</h1>

    <div>
  <%= f.email_field :email, autofocus: true, class:"login-input", placeholder: "Email", required: true %></div>

  <div>
    <%= f.password_field :password, autocomplete: "off", class: "login-input", placeholder: "Password", required: true %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in", class: "login-submit" %></div>

    <p class="login-help"><a href="/users/sign_up">Sign Up</a></p>
<% end %>



